@using CourseProjectSculptureWorks.Models.ReportsViewModels
@model List<ConductedExcursionViewModel>

@{
    ViewData["Title"] = "Отчет";
}



@if (Model != null && Model.Count != 0)
{
    <table>
        <tr><th colspan="3">Отчет о проведенных экскурсиях до @DateTime.Now.Day.@DateTime.Now.Month.@DateTime.Now.Year</th></tr>
        <tr>
            <td>
                <b>Местоположение</b>
            </td>
            <td>
                <b>Вид экскурсии</b>
            </td>
            <td>
                <b>Количество экскурсий</b>
            </td>
        </tr>
        @foreach (var reportLine in Model)
        {
            <tr>
                <td>@reportLine.LocationName</td>
                <td>@reportLine.NameOfExcursionType</td>
                <td>@reportLine.ExcursionsNumber</td>
            </tr>
        }
        <tr>
            <td><b>Итого</b></td>
            <td colspan="2"><b>Общее кол-во проведенных экскурсий: @ViewData["NumberOfExcursions"]</b></td>
        </tr>
    </table>
    <br /><br />

}
else
{
    <h3>В базе данных отсутствует информация об экскурсиях...</h3>
}



<style>
    table {
        width: 100%;
        margin-top: 3%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
        border-collapse: collapse;
        border-spacing: 5px;
        background: #E1E3E0;
        border-radius: 20px;
    }

    th {
        font-size: 22px;
        font-weight: 300;
        padding: 12px 10px;
        border-bottom: 2px solid #F56433;
        color: #F56433;
    }

    tbody tr:nth-child(2) {
        border-bottom: 2px solid #F56433;
    }

    tbody tr:last-child {
        border-top: 2px solid #F56433;
        border-bottom: 2px solid #F56433;
    }

    td {
        padding: 20px;
        color: #8D8173;
    }
</style>
