@using CourseProjectSculptureWorks.Data
@using CourseProjectSculptureWorks.Models.ViewModels
@model NewSculptureViewModel

@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Добавление новой скульптуры";
}

<link rel="stylesheet" href="../css/formStyles.css" />

<div class="form-container">
    <form method="post" class="form-horizontal" asp-action="AddSculptureNewForm">
        <h3 style="width: 380px;">Добавление новой скульптуры</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Название:</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Введите название скульптуры..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Вид:</label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control">
                    @foreach (var type in Lists.SculptureTypes)
                    {
                        <option>@type</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label style="color:white;margin-left:55px;">Скульптор:</label>
            <div class="col-md-10">
                <input type="text" asp-for="SculptorName" class="form-control" style="display: inline-table;" list="sculptorsList" placeholder="Введите имя скульптора..." />
                <datalist id="sculptorsList">
                    @foreach (var sculptor in db.Sculptors.ToList())
                    {
                        <option value="@sculptor.Name">@sculptor.SculptorId</option>
                    }
                </datalist>
                <a asp-action="AddNewSculptor" asp-route-backAction="AddNewSculpture" target="_blank" title="Добавить скульптора" class="glyphicon glyphicon-plus" style="color: green; display: inline-table; margin-left: 10px;"></a>
                <span asp-validation-for="SculptorName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Стиль:</label>
            <div class="col-md-10">
                <input type="text" asp-for="StyleName" class="form-control" style="display: inline-table;" list="stylesList" placeholder="Введите название стиля..." />
                <datalist id="stylesList">
                    @foreach (var style in db.Styles.ToList())
                    {
                        <option value="@style.StyleName">@style.StyleId</option>
                    }
                </datalist>
                <a asp-action="CreateNewStyle" asp-route-backAction="AddNewSculpture" target="_blank" title="Добавить стиль" class="glyphicon glyphicon-plus" style="color:green;display:inline-table;margin-left:10px;"></a>
                <span asp-validation-for="StyleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Местоположение:</label>
            <div class="col-md-10">
                <input type="text" asp-for="LocationName" class="form-control" style="display: inline-table;" list="locationsList" placeholder="Введите название местоположения..." />
                <datalist id="locationsList">
                    @foreach (var location in db.Locations.ToList())
                    {
                        <option value="@location.LocationName">@location.LocationId</option>
                    }
                </datalist>
                <a asp-action="AddNewLocation" asp-route-backAction="AddNewSculpture" target="_blank" title="Добавить новое местоположение" class="glyphicon glyphicon-plus" style="color:green;display:inline-table;margin-left:10px;"></a>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Материал:</label>
            <div class="col-md-10">
                <input asp-for="Material" class="form-control" placeholder="Введите материал скульптуры..." />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Год создания:</label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" placeholder="Введите год создания..." />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Площадь (м<sup>2</sup>)</label>
            <div class="col-md-10">
                <input asp-for="Square" class="form-control" placeholder="Введите площадь скульптуры..." />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label style="color:white;margin-left:55px;">Высота (м)</label>
            <div class="col-md-10">
                <input asp-for="Height" class="form-control" placeholder="Введите высоту скульптуры..." />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success check">Добавить</button>
        </div>
        <br/>
        <a asp-action="Sculptures" style="margin-left: 40%; font-size: 16px;"><span class="glyphicon glyphicon-arrow-left" /> Назад</a>

    </form>
    
</div>