@using CourseProjectSculptureWorks.Models.Entities
@using CourseProjectSculptureWorks.Data
@model List<Excursion>

@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Экскурсии";
    int[] excursionsId = (int[])ViewBag.ExcursionsId;
}

<link rel="stylesheet" href="~/css/tableStyles.css" />
<link rel="stylesheet" href="~/css/excursions.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/excursions.js"></script>
@*<a asp-action="AddNewExcursion" class="addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить экскурсию</a>*@
@if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
{
<a style="margin-left:40px;" asp-action="AddNewExcursions" class="addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить экскурсии</a>
}
<a style="margin-left:20px;" class="btn btn-success" asp-action="Excursions">Показать все</a>
@if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
{
<a style="margin-left:20px;" id="addToExc" class="btn btn-success">Запись на экскурсии</a>
}
<br />
<div class="column features">
    <form asp-action="Excursions" method="get">
        <div style="display:inline-table;margin-left:20px;">
            <h4 style="margin-left:60px;">Поиск</h4>
            <select name="searchCriteria" class="form-control" style="margin-bottom:5px;">
                <option criteria="0" value="0">По всем параметрам</option>
                <option criteria="1" value="1">По тематике</option>
                <option criteria="10" value="10">По дате экскурсии</option>
                <option criteria="3" value="2">По виду экскурсии</option>
                <option criteria="4" value="3">По местоположению</option>
                <option criteria="5" value="4">По количеству человек</option>
                <option criteria="6" value="5">По цене</option>
            </select>
            <input name="searchString" value="@ViewBag.SearchString" type="text" class="form-control" placeholder="Название, стиль..." /><br />
            <input style="width:100%;" type="submit" class="btn btn-info" value="Найти" />
        </div>
        <div style="display:inline-table;margin-left:200px;">
            <h4 style="margin-left:40px;">Сортировка</h4>
            <select class="form-control" name="sortOrder" style="margin-bottom:5px;">
                <option sortOrder="0" value="0">По возростанию</option>
                <option sortOrder="1" value="1">По убыванию</option>
            </select>
            <select class="form-control" name="sortNum">
                <option value="0">В исходном порядке</option>
                <option value="1">По тематике</option>
                <option value="2">По дате</option>
                <option value="3">По виду</option>
                <option value="4">По количеству людей</option>
                <option value="5">По стоимости</option>
            </select><br />
            <input style="width:100%;" type="submit" class="btn btn-info" value="Сортировать" />
        </div>
    </form>
</div>
<div class="column">
    
    <div class="locationContainer">
        @if (Model != null && Model.Count != 0)
        {
            <table class="simple-little-table" cellspacing='0' id="styleTable">
                <tr style="background-color:aqua;">
                    <th><b>Номер экскурсии</b></th>
                    <th><b>Тематика</b></th>
                    <th><b>Дата экскурсии</b></th>
                    <th><b>Вид экскурсии</b></th>
                    <th><b>Местоположения</b></th>
                    <th><b>Количество человек</b></th>
                    <th><b>Стоимость экскурсии</b></th>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                    {
                    <th style="width:50px;"></th>
                    <th style="width:50px;"></th>
                    }
                </tr>
                @foreach (var excursion in Model)
                {
                    if (excursionsId != null && excursionsId.Contains(excursion.ExcursionId))
                    {
                        var locations = new List<Location>();
                        foreach (var composition in excursion.Compositions)
                        {
                            locations.Add(db.Locations.Single(l => l.LocationId == composition.LocationId));
                        }
                        <tr id="@excursion.ExcursionId">
                            <td style="background:#98FB98;">@excursion.ExcursionId</td>
                            <td style="background:#98FB98;">@excursion.Subjects</td>
                            <td style="background:#98FB98;">@excursion.DateOfExcursion.Date.Day.@excursion.DateOfExcursion.Date.Month.@excursion.DateOfExcursion.Date.Year</td>
                            <td style="background:#98FB98;">@excursion.ExcursionType.NameOfType</td>
                            <td style="background:#98FB98;">
                                @foreach (var location in locations)
                                {
                                    <p>@location.LocationName</p>
                                }
                            </td>
                            <td style="background:#98FB98;">@excursion.NumberOfPeople чел.</td>
                            <td style="background:#98FB98;">@excursion.PriceOfExcursion UAN</td>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                            {
                            <td style="background:#98FB98;">
                                @if (locations.Count == 1)
                                {
                                    <a style="color:cornflowerblue;" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursion">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                }
                                else
                                {
                                    <a style="color:cornflowerblue;" multi="false" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursions">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                }
                            </td>
                            <td style="background:#98FB98;">
                                <a style="color:crimson;" multi="true" class="del" excursionId="@excursion.ExcursionId" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            }
                        </tr>
                    }
                    else
                    {
                        var locations = new List<Location>();
                        foreach (var composition in excursion.Compositions)
                        {
                            locations.Add(db.Locations.Single(l => l.LocationId == composition.LocationId));
                        }
                        <tr id="@excursion.ExcursionId">
                            <td>@excursion.ExcursionId</td>
                            <td>@excursion.Subjects</td>
                            <td>@excursion.DateOfExcursion.Date.Day.@excursion.DateOfExcursion.Date.Month.@excursion.DateOfExcursion.Date.Year</td>
                            <td>@excursion.ExcursionType.NameOfType</td>
                            <td>
                                @foreach (var location in locations)
                                {
                                    <p>@location.LocationName</p>
                                }
                            </td>
                            <td>@excursion.NumberOfPeople чел.</td>
                            <td>@excursion.PriceOfExcursion UAN</td>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                            {
                            <td>
                                @if (locations.Count == 1)
                                {
                                    <a style="color:cornflowerblue;" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursion">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                }
                                else
                                {
                                    <a style="color:cornflowerblue;" multi="false" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursions">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                }
                            </td>
                            <td>
                                <a style="color:crimson;" multi="true" class="del" excursionId="@excursion.ExcursionId" title="Удалить">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            }
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <h3 style="margin-left:20px;">В базе данных отсутствует искомая информация о экскурсиях...</h3>
        }
    </div>
</div>


@if (ViewBag.Checked != 0)
{
    <script>
        var checkedNum = @ViewBag.Checked;
        var sortOrder = @ViewBag.SortOrder;
        $("option[value=" + checkedNum + "]").attr("selected", true);
        $("option[sortOrder=" + checkedNum + "]").attr("selected", true);
    </script>
}


@if (ViewBag.IsDate != null && ViewBag.IsDate == true)
{
    <script>
        var criteria = @ViewBag.SearchCriteria;
        var searchStr = "@ViewBag.SearchString";
        $("option[criteria=" + criteria + "]").attr("selected", "true");
        $("input[name=searchString]").replaceWith("<input type='date' value='"+ searchStr + "' name='dateOfExcursion' class='form-control' />");
        date = true;
    </script>
}
else if (ViewBag.SearchCriteria != null)
{
    <script>
        var criteria = @ViewBag.SearchCriteria;
        $("option[criteria=" + criteria + "]").attr("selected", "true");
    </script>
}



<div id="addToExcBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Запись на экскурсии</h4>
            </div>
            <div class="modal-body">
                <form style="margin-left:27%;" method="get" class="form-horizontal" asp-controller="Home" asp-action="AvailableExcursions">
                    <h4 style="margin-right: 100px; text-align: center;">Выберите дату экскурсии, количество человек, местоположения</h4><br/>
                    <input type="date" name="dateOfExcursion" class="form-control" /><br/>
                    <input type="number" name="numberOfPeople" placeholder="Количество человек" class="form-control" /><br/>
                    <span class="hider form-control" style="cursor:pointer;padding-top:5px;width:160px;">
                        Местоположения
                        <span style="width:3px; height:3px;" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <div id="hidden" style="display: none;">
                        @foreach (var location in db.Locations)
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="location" value="@location.LocationId">@location.LocationName (@location.Country, @location.City)
                                </label>
                            </div>
                        }
                    </div><br />
                    <input style="width:100%;" class="btn btn-primary" type="submit" value="Дальше" />
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".hider").click(function(){
            $("#hidden").slideToggle("slow");
            return false;
        });
    });
</script>

