@using CourseProjectSculptureWorks.Models.Entities
@model List<ExcursionType>

@{
    ViewData["Title"] = "Виды экскурсий";
    int[] typesId = (int[])ViewBag.TypesId;
}

<link rel="stylesheet" href="~/css/exursionTypes.css" />
<link rel="stylesheet" href="~/css/tableStyles.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/excursionTypes.js"></script>


<div class="features column">
    <a style="width:100%;" asp-action="ExcursionTypes" class="btn btn-success">Показать все</a>
    <form method="get" class="form-horizontal" style="margin-top:45px;">
        <select class="form-control" name="searchCriteria">
            <option criteria="0" value="0">По всем параметрам</option>
            <option criteria="1" value="1">По названию</option>
            <option criteria="2" value="2">По скидке</option>
            <option criteria="3" value="3">По минимальному кол-ву людей</option>
            <option criteria="4" value="4">По максимальному кол-ву людей</option>
        </select>
        <input style="margin-top:15px;" class="form-control" name="searchString" type="text" placeholder="Название вида..." value="@ViewBag.SearchString" />
        <input style="width:100%; margin-top:5px;" type="submit" value="Поиск" class="btn btn-info" />
        <div>
            <h4>
                Сортировка
            </h4>
            <select name="sortOrder" class="form-control">
                <option sortOrder="0" value="0">По возростанию</option>
                <option sortOrder="1" value="1">По убыванию</option>
            </select>
            <div class="radio">
                <label><input type="radio" name="sortNum" value="0" checked>В исходном порядке</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="sortNum" value="1">По скидке</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="sortNum" value="2">По минимальному кол-ву человек</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="sortNum" value="3">По максимальному кол-ву человек</label>
            </div>
            <input style="width:100%; margin-top:5px;" type="submit" value="Сортировать" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="column">
    @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
    {
    <a asp-action="AddNewExcursionType"  class="addBtn"><span class="glyphicon glyphicon-plus"></span>   Добавить вид экскурсии</a>
    }
    @if (Model != null && Model.Count != 0)
    {
        <table class="simple-little-table" cellspacing='0' id="excursionTypeTable">
            <tr>
                <th>Название вида</th>
                <th>Скидка</th>
                <th style="width:200px;">Минимальное кол-во человек</th>
                <th style="width:200px;">Максимальное кол-во человек</th>
                @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                {
                <th></th>
                <th></th>
                }
            </tr>
            @foreach (var excursionType in Model)
            {
                if (typesId != null && typesId.Contains(excursionType.ExcursionTypeId))
                {
                    <tr id="@excursionType.ExcursionTypeId">
                        <td style="background:#98FB98;">@excursionType.NameOfType</td>
                        <td style="background:#98FB98;">@excursionType.Discount %</td>
                        <td style="background:#98FB98;">@excursionType.MinNumberOfPeople чел</td>
                        <td style="background:#98FB98;">@excursionType.MaxNumberOfPeople чел</td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                        {
                        <td style="background:#98FB98;"><a title="Редактировать" style="color:cornflowerblue;" asp-action="EditExcursionType" asp-route-excursionTypeId="@excursionType.ExcursionTypeId"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td style="background:#98FB98;"><a title="Удалить" style="color:crimson;" class="del" excursionTypeId="@excursionType.ExcursionTypeId"><span class="glyphicon glyphicon-trash"></span></a></td>
                        }
                    </tr>
                }
                else
                {
                    <tr id="@excursionType.ExcursionTypeId">
                        <td>@excursionType.NameOfType</td>
                        <td>@excursionType.Discount %</td>
                        <td>@excursionType.MinNumberOfPeople чел</td>
                        <td>@excursionType.MaxNumberOfPeople чел</td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Guide"))
                        {
                        <td><a title="Редактировать" style="color:cornflowerblue;" asp-action="EditExcursionType" asp-route-excursionTypeId="@excursionType.ExcursionTypeId"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a title="Удалить" style="color:crimson;" class="del" excursionTypeId="@excursionType.ExcursionTypeId"><span class="glyphicon glyphicon-trash"></span></a></td>
                        }
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <br />
        <h3 style="margin-left:20px;">В базе данных отсутствует искомая информация о видах экскурсий...</h3>
    }
</div>

@if (ViewBag.Checked != 0)
{
    <script>
        var checkedNum = @ViewBag.Checked;
        var sortOrder = @ViewBag.SortOrder;
        $("input[value=" + checkedNum + "]").attr("checked", true);
        $("option[sortOrder=" + sortOrder +"]").attr("selected", true);
    </script>
}

@if (ViewBag.SearchCriteria != 0)
{
    <script>
        var searchCriteria = @ViewBag.SearchCriteria;
        $("option[criteria=" + searchCriteria +"]").attr("selected", true);
    </script>
}
